body{
    .App{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(7, 7, 43);
            color: white;
            h1{
                margin-left: 40px;
            }
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-right: 40px;
                    transition: color 300ms;
                    padding: 10px;

                }

                li:hover{
                    color: greenyellow;
                    cursor: default;
                }
            }
        }

        div{
            h1{
                text-align: center;
            }
        }
    }
}